.select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted[aria-selected],
.default-tabs.style-two .tab-buttons li.active-btn,
.default-table thead th,
.checkbox-outer .view-more,
.preloader:before,
.chosen-container-multi .chosen-choices li.search-choice,
.scroll-to-top,
.main-menu .navigation > li.current > a,
.main-menu .navigation > li.current > span,
.main-menu .navigation > li > ul > li > span:hover,
.main-menu .navigation > li > ul > li > a:hover,
.main-menu .navigation > li.current.dropdown > span:after,
.main-menu .navigation > li > ul > li > ul > li.current > a,
.main-menu .navigation > li > ul > li.current > a,
.main-menu .navigation > li > ul > li > ul > li > a:hover,
.main-menu .navigation > li > ul > li > ul > li > span:hover,
.main-header .upload-cv,
.dashboard-option .dropdown-menu li.active a,
.dashboard-option .dropdown-menu li:hover a,
.dashboard-option .dropdown-menu li.active a i,
.dashboard-option .dropdown-menu li:hover a i,
.sticky-header .main-menu .navigation > li.current.dropdown > span:after,
.sticky-header .main-menu .navigation > li.current > span,
.sticky-header .main-menu .navigation > li.current.dropdown > a:after,
.sticky-header .main-menu .navigation > li.current > a,
.main-menu .navigation > li .mega-menu-bar .column > ul > li > a:hover,
.sec-title .sub-title,
.sec-title-outer .link,
.banner-section .content-column h3 .colored,
.banner-section-two .content-column h3 .colored,
.banner-section-three .content-column h3 .colored,
.banner-section-six .content-column h3 .colored,
.banner-section-seven .content-column h3 .colored,
.banner-section-eight .content-column h3 .colored,
.banner-section-eight .bottom-box .upload-cv,
.category-block .icon,
.category-block h4 a:hover,
.category-block-two .icon,
.category-block-two h4 a:hover,
.category-block-three .icon,
.category-block-three h4 a:hover,
.category-block-three:nth-child(1) .icon,
.job-block h4 a:hover,
.job-other-info li.time,
.job-block-two h4 a:hover,
.job-block-three h4 a:hover,
.job-block-four h4 a:hover,
.job-block-five h4 a:hover,
.job-block-seven h4 a:hover,
.job-block-seven .bookmark-btn,
.sidebar .btn-box .bookmark-btn,
.company-widget .profile-link,
.company-widget .company-link,
.testimonial-block .title,
.testimonial-block-two .title,
.about-section.style-two .fun-fact-section .count-box,
.fun-fact-section.style-two .count-box,
.candidate-block .designation,
.candidate-block-three .candidate-info li.designation,
.option-list li button,
.option-list li a,
.option-box .delete-btn,
.resume-action .dropdown-menu button .la,
.candidate-block-four .name a:hover,
.candidate-block-four .cat,
.candidate-block-five .candidate-info li.designation,
.candidate-block-five .post-tags li,
.candidate-block-five .post-tags li a,
.candidate-block-five .bookmark-btn,
.candidate-block-six .designation,
.candidate-block-six .post-tags li,
.candidate-block-six .post-tags li a,
.candidate-block-six .bookmark-btn,
.ls-section .show-filters .toggle-filters,
.range-slider-one .amount-outer,
.tags-style-one li a:hover,
.top-filters .chosen-container .chosen-single,
.top-filters .chosen-container-single .chosen-single div:after,
.top-filters .chosen-container .chosen-single span,
.ls-pagination li.next a:hover,
.ls-pagination li.prev a:hover,
.company-block .designation,
.company-block-two .designation,
.company-block-three h4 a:hover,
.company-block-four h4 a:hover,
.company-block-four .job-type,
.advrtise-block h4 span,
.news-block .lower-content h3 a:hover,
.news-block .read-more,
.news-block .read-more:hover,
.news-block-two .read-more,
.news-block-two .read-more:hover,
.catagory-list li a:hover:before,
.catagory-list li a:hover,
.post-control .icon,
.post-control .title,
.post-control h5 a:hover,
.prod-tabs .tab-btns .tab-btn.active-btn,
.pricing-table .title,
.links-list li:hover a,
.contact-block p .phone,
.social-btn-two,
.invoice-wrap .bottom-links li .link,
.main-footer .phone-num a,
.main-footer .list li:hover a,
.main-footer.style-three .newsletter-form .form-group input[type="text"],
.main-footer.style-three .newsletter-form .form-group input[type="email"],
.ui-item h4,
.user-sidebar .navigation > li.active > a,
.user-sidebar .navigation > li:hover > a,
.user-sidebar .navigation li.active a i,
.user-sidebar .navigation li:hover a i,
.notification-list li .icon,
.notification-list li .colored,
.post-job-steps .step .icon,
.manage-job-table .package,
.manage-job-table .colored,
.manage-job-table .applied,
.aplicants-upper-bar h6,
.aplicants-upper-bar .aplicantion-status li,
.add-info-btn,
.uploading-resume .cv-uploadButton .title,
.bc-preload .text,
.login-item .is_login,
.multi-lang li a,
.btn-style-three
{
    color: var(--main-color);
}

.checkboxes input[type="checkbox"]:checked + label:before,
.radio-box input[type="radio"]:checked + label,
.radio-box input[type="radio"]:checked + label:before,
input:checked + .slider,
.default-form .form-group input[type="text"]:focus,
.default-form .form-group input[type="email"]:focus,
.default-form .form-group input[type="url"]:focus,
.default-form .form-group select:focus,
.default-form .form-group textarea:focus,
.job-search-form.style-two,
.job-search-form.style-two form,
.job-search-form.style-two .form-group .icon,
.job-search-form.style-two .form-group,
.job-search-form.style-two .ui-selectmenu-button.ui-button,
.job-search-form.style-two .ui-selectmenu-button.ui-button,
.job-search-form.style-two .chosen-container-single .chosen-single span,
.job-search-form.style-two .chosen-container-single .chosen-single,
.job-search-form.style-two .form-group input,
.job-search-form.style-two .form-group select,
.job-search-form.style-two .form-group textarea,
.ls-section .filter-block input:focus,
.range-slider-one .ui-state-default,
.range-slider-one .ui-widget-content .ui-state-default,
.ls-show-more .show-more,
.sidebar .search-box .form-group input[type="text"]:focus,
.sidebar .search-box .form-group input[type="search"]:focus,
.pricing-table .inner-box:hover,
.pricing-table.tagged .inner-box,
.search-box-one .form-group input[type="text"]:focus,
.search-box-one .form-group input[type="search"]:focus,
.checkboxes input[type=radio]:checked + label:before
{
    border-color: var(--main-color);
}

input:checked + .slider,
.btn-style-one,
.btn-style-three:hover,
.scroll-to-top:hover,
.main-header .menu-btn .count,
.job-search-form.style-two,
.job-search-form.style-two form,
.job-search-form.style-two .form-group .icon,
.job-search-form.style-two .form-group,
.job-search-form.style-two .ui-selectmenu-button.ui-button,
.job-search-form.style-two .ui-selectmenu-button.ui-button,
.job-search-form.style-two .chosen-container-single .chosen-single span,
.job-search-form.style-two .chosen-container-single .chosen-single,
.job-search-form.style-two .form-group input,
.job-search-form.style-two .form-group select,
.job-search-form.style-two .form-group textarea,
.category-block .inner-box:hover .icon,
.job-block-seven .bookmark-btn:hover,
.job-detail .images-outer .image a:before,
.about-section .count-employers .check-box,
.testimonial-section-two.style-two .testimonial-block-two .inner-box:after,
.sidebar .btn-box .bookmark-btn:hover,
.checkboxes input[type="checkbox"]:checked + label:before,
.radio-box input[type="radio"]:checked + label:after,
.category-block-two .inner-box:hover .icon,
.applicants-list .title-box,
.option-list li button:hover,
.option-list li a:hover,
.range-slider-one .ui-slider .ui-slider-range,
.ls-show-more .bar .bar-inner,
.ls-show-more .show-more:before,
.ls-pagination li a:hover,
.ls-pagination li a.current-page,
.cluster-visible,
.map-listing-item .infoBox-close:hover,
.tag-list a:hover,
.other-options .tags a:hover,
.pricing-tabs .tab-btns:before,
.steps-list li .count,
.call-to-action-two.style-two:before,
.call-to-action-three.style-two,
.main-footer.style-five .newsletter-form .form-group .theme-btn,
.main-footer.style-six .newsletter-form .form-group .theme-btn,
.bd-highlight .info .count,
.portfolio-outer .image .icon,
.ls-pagination li.active span,
.checkboxes input[type=radio]:checked + label:before
{
    background-color: var(--main-color);
}

.bar-item .skill-bar .bar-inner .bar,
.main-menu .navigation > li > ul:before,
.main-menu .navigation > li > .mega-menu:before,
.prod-tabs .tab-btns .tab-btn.active-btn,
.links-list li:before,
.main-footer .list li:before,
.dropmenu-right .dropdown-menu:before, .mobile-header .dropdown-menu:before
{
    border-bottom-color: var(--main-color)!important;
}

.main-menu .navigation > li > ul,
.main-menu .navigation > li > ul > li > ul,
.main-menu .navigation > li > .mega-menu,
.dropmenu-right .dropdown-menu, .mobile-header .dropdown-menu
{
    border-top-color: var(--main-color);
}

.job-block-five .inner-box:hover
{
    border-left-color: var(--main-color);
}
