@import "variables";
@import "base";
@import "review";
@import "404";
@import "block";
@import "pages";

//Modules Media
@import "../../resources/module/media/admin/scss/browser";

.smart-search, .input-search {
    position: relative;

    &:after {
        top: 50%;
        margin-top: -10px;
        line-height: 20px;
        right: 20px;
        color: #2F2D51;
        content: "\f17c";
        font-family: 'Flaticon';
        font-size: 10px;
        position: absolute;
    }

    .parent_text, .form-control {
        border: none;
        box-shadow: none;
        font-size: 16px;
        color: #5191FA;
        position: relative;
        background: transparent;

        &::-webkit-input-placeholder {
            color: #696969;
            opacity: 1;
        }

        &::-moz-placeholder {
            color: #696969;
            opacity: 1;
        }

        &:-ms-input-placeholder {
            color: #696969;
            opacity: 1;
        }

        &:-moz-placeholder {
            color: #696969;
            opacity: 1;
        }

        &::placeholder {
            color: #696969;
            opacity: 1;
        }

        &[readonly] {
            cursor: pointer;
        }
    }

    .bravo-autocomplete {
        &.show {
            opacity: 1;
            visibility: visible;
        }

        opacity: 0;
        visibility: hidden;
        transition: all .3s;
        position: absolute;
        background: #fff;
        padding: 0;
        top: 100%;
        margin-top: 15px;
        left: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border: solid 1px #dee2e6;
        z-index: 20;
        max-height: 300px;
        overflow-y: auto;
        right: -15px;
        @media(max-width: 1023px) {
            margin-top: 10px;
            border-radius: 0;
            right: 0;
            left: -55px;
            background: #f1f1f1;
        }

        .item {
            cursor: pointer;
            padding: 10px 15px;

            &:nth-child(2n) {
                background: #fff;
            }

            &:last-child {
                margin-bottom: 0;
            }

            .h-line {
                font-weight: 500;
            }

            i {
                margin-right: 5px;
                font-size: 16px;
                position: relative;
                top: 1px;
                color: #828282;
            }

            &:hover {
                background: #f5f4f7;
            }
        }

        .message {
            display: none;
            padding: 10px 15px;
            font-size: 14px;
            color: #424242
        }

        &.on-message {
            .list-item {
                display: none;
            }

            .message {
                display: block;
            }
        }
    }
}
.btn-box .bookmark-btn{
    &.active{
        opacity: 1;
        visibility: visible;
        background: rgb(249 171 0 / 80%);
        color: white;
    }
}
@import "styling";
